.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.App h1{
  /*font-family: 'Noto Serif', serif;*/
  /*color: rgb(5, 97, 150);*/
  color: darkblue;
  /*font-size: 1.5em;*/
  /*rgb(195, 242, 250);*/
  /*text-shadow: -1px -1px 0 rgba(96, 229, 247, 0.35), 1px -1px 0 rgb(6, 43, 255), -1px 1px 0 rgb(6, 43, 255), 1px 1px 0 rgb(6, 43, 255) ;*/
}

.main {
  background-color: lightseagreen;
  padding-bottom: 40px;
}

/*NavigationBar*/
.link {
  text-decoration: none; 
  color: rgb(6, 240, 45);
}

.NavigationBar {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, yellow, 66%, white);
  /*border-radius: -50% -50% 0 0/ -50% -50% 0 0;*/
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
@media screen and (min-width: 1280px){
  /*App-header*/
  .App-header{
    border-radius: 0 0 0 90%/ 0 0 0 90%;
  }
  .App-header {
    background: linear-gradient(to bottom, lightseagreen, rgb(9, 253, 82) );
    /*background-color: linear-gradient(darkgreen, transparent);*/
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: 300;
    /* border-radius: 0 0 0 90%/ 0 0 0 90%; */
    border-bottom-style: ridge;
    border-color: rgba(9, 253, 82, 0.6);
    border-block-end-width: 26px;
  }
  .App h1 {
    font-size: 1.5em;
    /* padding: 15px;
    padding-top: 25px; */
  }


  .inner-header {
    /*border-bottom-style:ridge;
   /* border-left-style: solid;*/
    border-bottom-color: rgba(96, 229, 247, 0.5);
    border-right-color: rgba(96, 229, 247, 0.4);
    
    border-width: 15px;
    border-block-end-style: ridge;
   /* border-block-end-width: 20px;*/
    border-radius: 0 90% 100% 100%/0 90% 90% 100%;
    margin: 0;
    padding: 200px;
    
    
    /*background-image: /*linear-gradient(to-right, transparent, lightseagreen),linear-gradient(lightseagreen, rgba(82, 214, 247, 0.5));*/
    /*background-image: linear-gradient(to bottom, transparent, rgba(31, 194, 248, 0.8) );*/
  }
  
  .inner-header-1 {
    border-bottom-color: rgba(96, 229, 247, 0.35);
    border-right-color: rgba(96, 229, 247, 0.35);
    /*border-bottom-style: ridge;*/
    /*border-right-style: ridge;*/
    border-width: 20px;
   /* border-block-end-style: ridge;*/
    /*padding: 5px 100px 50px 100px;*/
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 0 100% 100% 100%/ 0 100% 100% 100%;
  }

  .link {
    font-size: 1.25em;
    padding: 5px;
    margin: 5px;
    font-weight: bolder;
  }

  .Donate {
    padding: 100px;
    margin-top: 40px;
    border-block-start-style: ridge;
    border-top-color: rgba(96, 229, 247, 0.35);
    border-radius: 90% 90% 0 0/ 90% 90% 0 0;
    border-width: 20px;
    background: skyblue;
    /*linear-gradient(to bottom left,rgb(9, 253, 82), skyblue);*/
  }
  
  .Amount p {
    font-size: 2em;
    font-weight: 2px;
    color: rgb(6, 43, 255);
  }

  .Amount{
    color: rgb(6, 43, 255);;
    font-size:  1.5em;
    padding-top: 100px;
    border-width: 2px;
  }
  
  .submitAmount {
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: rgb(6, 43, 255);
    /*rgb(89, 174, 243);
    /*background: linear-gradient(to bottom right, lightblue, white);*/
    background: transparent;
    padding: 10px;
    color:rgb(6, 43, 255);
    
    font-size: 1.25em;
    /*color: steelblue;*/
  }
  

   /*Description*/

   img {
     width: 800px;
   }
   .subtitle{
     font-size: 2em;
   }

   .description-p{
    margin: 10px;
    padding-right: 25px;  
    padding-left: 25px;
  }

  .description-p, .description-li {
    font-size: 1.5em;
    font-weight: 600;
  }

  ul{
    text-align: left;
    margin: auto;
  }

  .description-title{
    font-size: 2.5em;
  }

  .Description{
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: white;
    margin: 50px;
    
  }
  
  .Description div{
    margin: 20px;
    padding: 20px;
  }
/*BillingDetails and Modal*/
  .Modal{
    position: fixed;
    width: 45%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(6, 43, 255);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(6, 43, 255);
    border-radius: 20px;
    background: white;
    padding: 20px;
    /*display: flex;
    flex-direction: column;*/
    justify-content: center;
    align-items: center;
    
  }
  
  .Modal button{
    border-radius: 10px;
    font-size: 1em;
    border-style: solid;
    color: rgb(6, 43, 255);
    border-color: rgb(6, 43, 255);
    border-width: 1px;
    background: transparent;
    /*linear-gradient(to bottom right,white, lightskyblue);*/
  
  }
  
  .BillingDetails {
    display: flex;
    flex-direction: column;
    /*align-items: left;*/
    width: 80%;
    /*justify-content: center;
    text-align: center;
    /*align-items: center;*/
    height: auto;
  }
  
  .BillingDetails input, .card-input {
    background-color: lightgrey;
    border-style: solid;
    border-color: rgb(6, 43, 255);
    border-width: 1px;
    border-radius: 5px;
    margin: .5em;
    padding: .5em;
    width: 50%;
  }
  
  .closeModal{
    float: right;
  }
  
  .closeButtonContainer{
    width: 100%;
  }
  
  #submitPayment{
    margin: 20px;
    padding: 5px;
    width: fit-content;
    float: right;
  }

  .Footer{
    font-weight: 800;
    font-size: 1em;  
  }

  .SuccessModal{
    color: rgb(6, 43, 255);
    background-color: white;
    border-style: solid;
    border-color:  rgb(6, 43, 255);
    border-width: 2px;
    border-radius: 10px;
    width: 30%;
    /*top: 50%;
    left: 50%;*/
   transform: translate(70%, 0%);
   top: 50%;
   left: 50%;
   margin: 20px;
   padding: 75px;
  }
}
  @media screen and (max-width: 1279px){
    /*header*/
    .App-header {
      background: linear-gradient(to bottom, lightseagreen, rgb(9, 253, 82) );
      /*background-color: linear-gradient(darkgreen, transparent);*/
      min-height: 55vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 2.5em;
      font-weight: 300;
      /* border-radius: 0 0 0 90%/ 0 0 0 90%; */
      border-bottom-style: ridge;
      border-color: rgba(9, 253, 82, 0.6);
      border-block-end-width: 26px;
    }

      /*NavigationBar*/
    .link {   
      font-weight: bolder;
      font-size: 2.5em;
      padding: 15px;
      margin: 15px;
      
    }
    /*Donate PAge*/
    .Donate {
      padding: 100px;
      margin-top: 40px;
      border-block-start-style: ridge;
      border-top-color: rgba(96, 229, 247, 0.35);
      border-radius: 90% 90% 0 0/ 90% 90% 0 0;
      border-width: 20px;
      background: skyblue;
      /*linear-gradient(to bottom left,rgb(9, 253, 82), skyblue);*/
    }
    
    .Amount p {
      font-size: 2em;
      font-weight: 2px;
      color: rgb(6, 43, 255);
    }

    .Amount{
      color: rgb(6, 43, 255);;
      font-size:  1.5em;
      padding-top: 100px;
      border-width: 2px;
    }
    
    .submitAmount {
      border-style: solid;
      border-radius: 10px;
      border-width: 2px;
      border-color: rgb(6, 43, 255);
      /*rgb(89, 174, 243);
      /*background: linear-gradient(to bottom right, lightblue, white);*/
      background: transparent;
      padding: 10px;
      color:rgb(6, 43, 255);
      
      font-size: 1.25em;
      /*color: steelblue;*/
    }
    

    /*Description*/

    .subtitle{
      font-size: 2em;
    }

  .description-p{
    margin: 10px;
    padding-right: 25px;  
    padding-left: 25px;
  }

  .description-p, .description-li {
    font-size: 2em;
    font-weight: 600;
  }

  ul{
    text-align: left;
    margin: auto;
  }

  .description-title{
    font-size: 2.5em;
  }

  .Description{
    display: flex;
    flex-direction: column;
    
    background-color: white;
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    
  }
  
  .Description div{
    margin: auto;
    padding: 10px;
  }

  .Footer{
    font-size: 2em;
    font-weight: 800;
    padding: 10px;
  }
  
  img {
    width: 800px;
  }

  .SuccessModal{
    color: rgb(6, 43, 255);
    background-color: white;
    border-style: solid;
    border-color:  rgb(6, 43, 255);
    border-width: 2px;
    border-radius: 10px;
    width: 30%;
    /*top: 50%;
    left: 50%;*/
   transform: translate(70%, 0%);
   top: 50%;
   left: 50%;
   margin: 20px;
   padding: 75px;
  }
}

@media screen and (max-width: 1023px){
  img {
    width: 800px;
  }
  /*.App-header{
    width: 100%;
    height: auto;
  }*/

  .App {
    width: 100%;
  }

  .App-header{
    min-height: 40vh;
  }

  /*NavigationBar*/
  .link {   
    font-weight: 700;
    font-size: 1.5em;
    padding: 10px;
    margin: 5px;
    
  }

  .Modal{
    position: fixed;
    width: 45%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(6, 43, 255);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(6, 43, 255);
    border-radius: 20px;
    background: white;
    padding: 20px;
    /*display: flex;
    flex-direction: column;*/
    justify-content: center;
    align-items: center;
    
  }
  /*BillingDetails and Modal*/
  .Modal button{
    border-radius: 10px;
    font-size: 1em;
    border-style: solid;
    color: rgb(6, 43, 255);
    border-color: rgb(6, 43, 255);
    border-width: 1px;
    background: transparent;
    /*linear-gradient(to bottom right,white, lightskyblue);*/
  
  }
  
  .BillingDetails {
    display: flex;
    flex-direction: column;
    /*align-items: left;*/
    width: 80%;
    /*justify-content: center;
    text-align: center;
    /*align-items: center;*/
    height: auto;
  }
  
  .BillingDetails input, .card-input {
    background-color: lightgrey;
    border-style: solid;
    border-color: rgb(6, 43, 255);
    border-width: 1px;
    border-radius: 5px;
    margin: .5em;
    padding: .5em;
    width: 50%;
  }
  
  .closeModal{
    float: right;
  }
  
  .closeButtonContainer{
    width: 100%;
  }
  
  #submitPayment{
    margin: 20px;
    padding: 5px;
    width: fit-content;
    float: right;
  }
}
/*769*/
@media screen and (max-width: 800px){
  .App {
    width: 100%;
  }
  .App-header{
    min-height: 40vh;
  }

  .App-header h1{
    margin: 5px;
    padding: 5px;
  }
/*NavigationBar*/
  .link {   
    font-weight: bolder;
    font-size: 2em;
    padding: 15px;
    padding-left: 25px;
    margin: 5px;  
  }

  .NavigationBar {
    align-items: center;
    justify-content: center;
  }

  /*Description*/

  .Description{
    margin: 10px;  
  }
  img{
    width: 550px;
  }
  .description-div{
    padding:0px;
    margin:0px;
  }
  .description-p{
    
    padding-right: 0px;  
    padding-left: 0px;
  }

  .description-p, .description-li {
    font-size: 1.75em;
    font-weight: 600;
    margin-left: 0px;
    margin-right: 0px;
  }

  .subtitle{
    font-size: 2em;
  }
/*BillingDetails and Modal*/
  .Modal{
    position: fixed;
    width: 90%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(6, 43, 255);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(6, 43, 255);
    border-radius: 20px;
    background: white;
    padding: 20px;
    /*display: flex;
    flex-direction: column;*/
    justify-content: center;
    align-items: center;
    
  }
  
  .Modal button{
    border-radius: 10px;
    font-size: 1.5em;
    border-style: solid;
    color: rgb(6, 43, 255);
    border-color: rgb(6, 43, 255);
    border-width: 3px;
    background: transparent;
    /*linear-gradient(to bottom right,white, lightskyblue);*/
  
  }
  /*BillingDetails and Modal*/
  .BillingDetails {
    display: flex;
    flex-direction: column;
    /*align-items: left;*/
    width: 80%;
    /*justify-content: center;
    text-align: center;
    /*align-items: center;*/
    height: auto;
  }

  .BillingDetails h2 {
    font-size: 2em;
  }
  
  .BillingDetails input, .card-input {
    background-color: lightgrey;
    border-style: solid;
    border-color: rgb(6, 43, 255);
    border-width: 2px;
    border-radius: 5px;
    font-size: 1.5em;
    margin: 1em;
    padding: .75em;
    width: 90%;
  }
  
  .closeModal{
    float: right;
  }
  
  .closeButtonContainer{
    width: 100%;
  }
  
  #submitPayment{
    margin: 20px;
    padding: 5px;
    width: fit-content;
    float: right;
  }

  .Footer{
    margin: 5px;
    font-size: 2em;
  }

}

@media screen and (max-width: 600px){
  .App-header h1{
    font-size: 1em;
    padding-top: 50px;
  }

  img{
    width: 300px;
  }

  .SuccessModal{
    color: rgb(6, 43, 255);
    background-color: white;
    border-style: solid;
    border-color:  rgb(6, 43, 255);
    border-width: 2px;
    border-radius: 10px;
    width: 90%;
    /*top: 50%;
    left: 50%;*/
   transform: translate(0%, 0%);
   top: 0%;
   left: 0%;
   margin: 5px;
   padding: 5px;
   margin-top: 15px;
  }
}

/*Description*/

 

/* .description-p, .description-li {
  font-size: 1em;
  font-weight: 600;
}

ul{
  text-align: left;
  margin: auto;
}

.description-title{
  font-size: 2.5em;
} */


/*NavigationBar*/
.link {
  text-decoration: none; 
  color: rgb(6, 240, 45);
}

.NavigationBar {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, yellow, 66%, white);
  border-radius: -50% -50% 0 0/ -50% -50% 0 0;
}

/*Donate and Amount*/
.arrow {
  border: solid rgb(6, 43, 255);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.increase, .decrease {
  border-radius: 50%;
  border-width: 2px;
  border-color: rgb(6, 43, 255);
  width: 80px;
  height: 80px;
  /*rgb(89, 174, 243);
  /*background: linear-gradient(to bottom right, lightblue, white);*/
  background: transparent;
}



/*Modal And Billing Details*/

.display-block{
  display: block;
}

.display-none{
  display: none;
}





.Footer {
  color: rgb(6, 240, 45);
  
}

