.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(to bottom, lightseagreen, rgb(9, 253, 82) );
  /*background-color: linear-gradient(darkgreen, transparent);*/
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  font-size: 1.5em;
  font-weight: 100;
  color: rgb(195, 242, 250);
  border-radius: 0 0 0 90%/ 0 0 0 90%;
  border-bottom-style: ridge;
  border-color: rgba(9, 253, 82, 0.6);
  border-block-end-width: 26px;
}

.inner-header {
  /*border-bottom-style:ridge;
 /* border-left-style: solid;*/
  border-bottom-color: rgba(96, 229, 247, 0.5);
  border-right-color: rgba(96, 229, 247, 0.4);
  
  border-width: 15px;
  border-block-end-style: ridge;
 /* border-block-end-width: 20px;*/
  border-radius: 0 90% 100% 100%/0 90% 90% 100%;
  margin: 0;
  padding: 200px;
  
  
  /*background-image: /*linear-gradient(to-right, transparent, lightseagreen),linear-gradient(lightseagreen, rgba(82, 214, 247, 0.5));*/
  /*background-image: linear-gradient(to bottom, transparent, rgba(31, 194, 248, 0.8) );*/
}

.inner-header-1 {
  border-bottom-color: rgba(96, 229, 247, 0.35);
  border-right-color: rgba(96, 229, 247, 0.35);
  
  border-width: 6px;
 /* border-block-end-style: ridge;*/
  padding: 5px 175px 50px 175px;
  border-radius: 0 0 100% 100%/ 0 0 100% 100%;
}

.Donate {
  padding: 100px;
  margin-top: 40px;
  border-block-start-style: ridge;
  border-top-color: rgba(96, 229, 247, 0.35);
  border-radius: 90% 0 0 0/ 90% 0 0 0;
  border-width: 20px;
  background: linear-gradient(to bottom left,rgb(9, 253, 82), skyblue);
}

.Amount p {
  font-size: 2em;
  font-weight: 500;
  color: steelblue;
}

/*.Amount button{
  border-radius: 50%;
  border-width: 1.5px;
  border-style: inset;
  border-color: steelblue;
  color: steelblue;
}*/



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

p{
  margin: 15px;
  padding: 25px;  
}

ul, .objectives {
  text-align: center;
  margin: auto;
}

li {
  list-style-type: none;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5em;
  color: rgb(6, 240, 45);
  padding: 10px;
  margin: 5px;
  
}

.NavigationBar {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, yellow, 66%, white);
  border-radius: -50% -50% 0 0/ -50% -50% 0 0;
}

.arrow {
  border: solid steelblue;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.increase, .decrease {
  border-radius: 50%;
  border-width: 4px;
  border-color: steelblue;
  background: linear-gradient(to bottom right, lightblue, white);
}

.Amount{
  color: steelblue;
  font-size:  1.5em;
}

.submitAmount {
  border-style: ridge;
  border-radius: 10px;
  border-width: 4px;
  border-color: steelblue;
  background: linear-gradient(to bottom right, lightblue, white);
  padding: 5px;
  font-weight: bold;
  font-size: 1.25em;
  color: steelblue;
}

.display-block{
  display: block;
}

.display-none{
  display: none;
}

.Modal{
  position: fixed;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  border-radius: 10px;
  background: white;
  padding: 20px;
}

.Modal button{
  border-radius: 5px;
  font-size: 1.5;
  border-style: ridge;
  background: linear-gradient(to bottom right,white, grey);

}

.BillingDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  height: auto;
}

.BillingDetails input{
  background-color: lightgrey;
  border-style: hidden;
  /*border-radius: 5px;*/
  margin: 5px;
  width: 33%;
}

.closeModal{
  float: right;
}

#submitPayment{
  margin: 20px;
  padding: 5px;
  width: fit-content;
  float: right;
}